This notebook contains working on the tweets that is authored and have no retweets at all, but could contain replies
So we will use the same approach of getting tweet details to do the Scoring. Based on the person that made the tweet

In [1]:
import os
import json

In [ ]:
amazon = [json.loads(line) for line in open("amazon/amazon_2017-11-24_to_2017-11-30.json", 'r')]
rihanna = [json.loads(line) for line in open("Rihanna/Rihanna_2017-11-28_to_2017-11-30.json", 'r')]
beyonce = [json.loads(line) for line in open("beyonce/beyonce_2017-11-24_to_2017-11-30.json", 'r')]
bitcoin = [json.loads(line) for line in open("bitcoin/bitcoin_2017-11-24_to_2017-11-30.json", 'r')]

trump = [json.loads(line) for line in open("trump/trump_2017-11-24_to_2017-11-30.json", 'r')]
sexist = [json.loads(line) for line in open("sexist/sexist_2017-11-24_to_2017-11-30.json", 'r')]
monolith = [json.loads(line) for line in open("monolith/monolith_2017-11-24_to_2017-11-30.json", 'r')]
kimK = [json.loads(line) for line in open("kimkardashian/kimkardashian_2017-11-24_to_2017-11-30.json", 'r')]

kardashian = [json.loads(line) for line in open("kardashian/kardashian_2017-11-24_to_2017-11-30.json", 'r')]
uber = [json.loads(line) for line in open("uber/uber_2017-11-24_to_2017-11-30.json", 'r')]

In [3]:
kardashian[15]['text']

'I feel homeless Watching the Kardashian’s, They worry about moving clothes to another closet for more room, and I m… https://t.co/ZzxrhvhQau'

In [4]:
def createTableSlow(tweetList):
    """
    Function creates table from a list of tweet information
    
    This function is super slow cos it's going to have to write each row of the data - super time consuming!
    """
    import pandas as pd
    
    df = pd.DataFrame(columns=['createdTime', 'hashtags', 'userMentions', 'retweetCount', 'favoriteCount', 'isReply',
                              'UserCreatedDate', 'UserLikesNo', 'UserFollowerNo', 'UserFriendsNo', 'UserListNo',
                              'userTottalTweet', 'UserIsVerified'])
    
    createdTime = [tweetList[i]['created_at'] for i in range(len(tweetList))]
    hashtags = [len(tweetList[i]['entities']['hashtags']) for i in range(len(tweetList))]
    userMentions = [len(tweetList[i]['entities']['user_mentions']) for i in range(len(tweetList))]
    retweetCount = [tweetList[i]['retweet_count'] for i in range(len(tweetList))]
    favoriteCount = [tweetList[i]['favorite_count'] for i in range(len(tweetList))]
    isReply = [True if tweetList[i]['in_reply_to_status_id'] else False for i in range(len(tweetList))]
    UserCreatedDate = [tweetList[i]['user']['created_at'] for i in range(len(tweetList))]
    UserLikesNo = [tweetList[i]['user']['favourites_count'] for i in range(len(tweetList))]
    UserFollowerNo = [tweetList[i]['user']['followers_count'] for i in range(len(tweetList))]
    UserFriendsNo = [tweetList[i]['user']['friends_count'] for i in range(len(tweetList))]
    UserListNo = [tweetList[i]['user']['listed_count'] for i in range(len(tweetList))]
    UserTotalTweet = [tweetList[i]['user']['statuses_count'] for i in range(len(tweetList))]
    UserIsVerified = [tweetList[i]['user']['verified'] for i in range(len(tweetList))]
    
    for i in range(len(tweetList)):
        df.loc[i] = [createdTime[i], hashtags[i], userMentions[i], retweetCount[i], favoriteCount[i], isReply[i],
                     UserCreatedDate[i], UserLikesNo[i], UserFollowerNo[i], UserFriendsNo[i], UserListNo[i],
                     UserTotalTweet[i], UserIsVerified[i]]
    return df

In [5]:
data = createTable(beyonce[:6])

data.head()

NameError: name 'createTable' is not defined

In [6]:
#Another flavour of the dataframe
def createTable(tweetList):
    """
    Function creates table from a list of tweet information
    """
    import pandas as pd
    
    df = pd.DataFrame()
    
    df['createdTime'] = [tweetList[i]['created_at'] for i in range(len(tweetList))]
    df['hashtags'] = [len(tweetList[i]['entities']['hashtags']) for i in range(len(tweetList))]
    df['userMentions'] = [len(tweetList[i]['entities']['user_mentions']) for i in range(len(tweetList))]
    df['retweetCount'] = [tweetList[i]['retweet_count'] for i in range(len(tweetList))]
    df['favoriteCount'] = [tweetList[i]['favorite_count'] for i in range(len(tweetList))]
    df['isReply'] = [True if tweetList[i]['in_reply_to_status_id'] else False for i in range(len(tweetList))]
    df['UserCreatedDate'] = [tweetList[i]['user']['created_at'] for i in range(len(tweetList))]
    df['UserLikesNo'] = [tweetList[i]['user']['favourites_count'] for i in range(len(tweetList))]
    df['UserFollowerNo'] = [tweetList[i]['user']['followers_count'] for i in range(len(tweetList))]
    df['UserFriendsNo'] = [tweetList[i]['user']['friends_count'] for i in range(len(tweetList))]
    df['UserListNo'] = [tweetList[i]['user']['listed_count'] for i in range(len(tweetList))]
    df['UserTotalTweet'] = [tweetList[i]['user']['statuses_count'] for i in range(len(tweetList))]
    df['UserIsVerified'] = [tweetList[i]['user']['verified'] for i in range(len(tweetList))]
    df['tweet'] = [tweetList[i]['text'] for i in range(len(tweetList))]

    return df

In [7]:
#Check the timing on each version of extracting the data
import timeit

%timeit createTable(beyonce)

26.3 ms ± 1.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
#Concat all the dataframe generated
import pandas as pd

tweet_list = [trump, beyonce, amazon, rihanna, bitcoin, sexist, monolith, kimK, kardashian, uber]
fullTweetDF = pd.concat([createTable(i) for i in tweet_list], ignore_index=True)

fullTweetDF.head()

,createdTime,hashtags,userMentions,retweetCount,favoriteCount,isReply,UserCreatedDate,UserLikesNo,UserFollowerNo,UserFriendsNo,UserListNo,UserTotalTweet,UserIsVerified,tweet
0,Thu Nov 30 23:59:58 +0000 2017,0,0,0,0,False,Sun Sep 24 22:18:13 +0000 2017,75,42,88,0,453,False,Anyone else notice that the media has to inser...
1,Thu Nov 30 23:59:57 +0000 2017,0,0,0,0,False,Mon Jul 27 18:44:30 +0000 2009,475,525,552,20,26697,False,"Where are all the seniors at, instead of livin..."
2,Thu Nov 30 23:59:54 +0000 2017,1,0,0,1,False,Sun Jan 24 23:08:11 +0000 2010,457,6178,6,1103,1570160,False,#Health Trump Excludes LGBTQ People From Worl...
3,Thu Nov 30 23:59:51 +0000 2017,0,0,0,0,False,Fri May 18 20:37:13 +0000 2012,1709,970,1692,11,4714,False,May be like: Grandad has said something at din...
4,Thu Nov 30 23:59:40 +0000 2017,0,2,0,1,True,Thu Aug 24 02:00:21 +0000 2017,354,670,1177,0,651,False,@bocavista2016 @Deplorable80210 I've been sayi...

I am particularly going to look at 
**Retweet Count** and **FavouriteCount** to calculate the scores
I will also likely be normalizing this data

In [11]:
#Do Score on Retweet Count and Favorite Count
retweet_weight = 0.7; fav_weight=0.3
#fullTweetDF['CalcEngScore'] = fullTweetDF[['retweetCount', 'favoriteCount']].applymap(lambda x, y: (x * retweet_weight) + (fav_weight * y))
fullTweetDF['Interaction'] = (fullTweetDF.retweetCount * retweet_weight + fullTweetDF.favoriteCount * fav_weight)

In [ ]:
# fullTweetDF.rename(columns={"CalcEngScore" : "Interactions"}, inplace=True)
# fullTweetDF.head()

In [30]:
fullTweetDF.head()

,createdTime,hashtags,userMentions,retweetCount,favoriteCount,isReply,UserCreatedDate,UserLikesNo,UserFollowerNo,UserFriendsNo,UserListNo,UserTotalTweet,UserIsVerified,tweet,Interactions
0,Thu Nov 30 23:59:58 +0000 2017,0,0,0,0,False,Sun Sep 24 22:18:13 +0000 2017,75,42,88,0,453,False,Anyone else notice that the media has to inser...,0.0
1,Thu Nov 30 23:59:57 +0000 2017,0,0,0,0,False,Mon Jul 27 18:44:30 +0000 2009,475,525,552,20,26697,False,"Where are all the seniors at, instead of livin...",0.0
2,Thu Nov 30 23:59:54 +0000 2017,1,0,0,1,False,Sun Jan 24 23:08:11 +0000 2010,457,6178,6,1103,1570160,False,#Health Trump Excludes LGBTQ People From Worl...,0.3
3,Thu Nov 30 23:59:51 +0000 2017,0,0,0,0,False,Fri May 18 20:37:13 +0000 2012,1709,970,1692,11,4714,False,May be like: Grandad has said something at din...,0.0
4,Thu Nov 30 23:59:40 +0000 2017,0,2,0,1,True,Thu Aug 24 02:00:21 +0000 2017,354,670,1177,0,651,False,@bocavista2016 @Deplorable80210 I've been sayi...,0.3

In [31]:
fullTweetDF.to_csv("TwitterData.csv", index_label=False)